USE [master]
GO
/****** Object:  Database [quanlyvoucher]    Script Date: 17/06/2026 10:46:47 SA ******/
CREATE DATABASE [quanlyvoucher]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quanlyvoucher', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\quanlyvoucher.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'quanlyvoucher_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\quanlyvoucher_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quanlyvoucher].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quanlyvoucher]
GO
/****** Object:  Table [dbo].[user_vouchers]    Script Date: 17/06/2026 10:46:47 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_vouchers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[voucher_id] [bigint] NOT NULL,
	[used_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 17/06/2026 10:46:47 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[full_name] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[phone] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vouchers]    Script Date: 17/06/2026 10:46:47 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vouchers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[discount_percent] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[expired_date] [date] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime] NULL,
	[is_deleted] [bit] NOT NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[user_vouchers] ON 

INSERT [dbo].[user_vouchers] ([id], [user_id], [voucher_id], [used_at]) VALUES (1, 1, 1, CAST(N'2026-06-15T09:21:18.937' AS DateTime))
INSERT [dbo].[user_vouchers] ([id], [user_id], [voucher_id], [used_at]) VALUES (2, 2, 2, CAST(N'2026-06-15T09:21:18.937' AS DateTime))
INSERT [dbo].[user_vouchers] ([id], [user_id], [voucher_id], [used_at]) VALUES (3, 1, 2, CAST(N'2026-06-15T11:57:55.343' AS DateTime))
SET IDENTITY_INSERT [dbo].[user_vouchers] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [full_name], [email], [phone], [created_at]) VALUES (1, N'Nguyen Van A', N'a@gmail.com', NULL, CAST(N'2026-06-15T09:21:18.927' AS DateTime))
INSERT [dbo].[users] ([id], [full_name], [email], [phone], [created_at]) VALUES (2, N'Tran Thi B', N'b@gmail.com', NULL, CAST(N'2026-06-15T09:21:18.927' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[vouchers] ON 

INSERT [dbo].[vouchers] ([id], [code], [discount_percent], [quantity], [expired_date], [status], [created_at], [is_deleted], [deleted_at]) VALUES (1, N'SALE10', 10, 100, CAST(N'2026-12-31' AS Date), N'ACTIVE', CAST(N'2026-06-15T09:21:18.933' AS DateTime), 0, NULL)
INSERT [dbo].[vouchers] ([id], [code], [discount_percent], [quantity], [expired_date], [status], [created_at], [is_deleted], [deleted_at]) VALUES (2, N'SALE50', 50, 9, CAST(N'2026-12-31' AS Date), N'ACTIVE', CAST(N'2026-06-15T09:21:18.933' AS DateTime), 0, NULL)
INSERT [dbo].[vouchers] ([id], [code], [discount_percent], [quantity], [expired_date], [status], [created_at], [is_deleted], [deleted_at]) VALUES (3, N'GIAM100K', 100, 9, CAST(N'2026-12-31' AS Date), N'ACTIVE', CAST(N'2026-06-15T12:02:58.860' AS DateTime), 0, NULL)
SET IDENTITY_INSERT [dbo].[vouchers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E616471FDB45F]    Script Date: 17/06/2026 10:46:47 SA ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__vouchers__357D4CF96549CB97]    Script Date: 17/06/2026 10:46:47 SA ******/
ALTER TABLE [dbo].[vouchers] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[user_vouchers] ADD  DEFAULT (getdate()) FOR [used_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[vouchers] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[vouchers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[vouchers] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[user_vouchers]  WITH CHECK ADD  CONSTRAINT [FK_UserVouchers_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_vouchers] CHECK CONSTRAINT [FK_UserVouchers_Users]
GO
ALTER TABLE [dbo].[user_vouchers]  WITH CHECK ADD  CONSTRAINT [FK_UserVouchers_Vouchers] FOREIGN KEY([voucher_id])
REFERENCES [dbo].[vouchers] ([id])
GO
ALTER TABLE [dbo].[user_vouchers] CHECK CONSTRAINT [FK_UserVouchers_Vouchers]
GO
ALTER TABLE [dbo].[vouchers]  WITH CHECK ADD CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
USE [master]
GO
